/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** Global - Mobile first**/

body {
    margin: 0;
    padding:0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color:#373737;
   
}

a {
    text-decoration: none;
}

a.big-link {
    padding:50px;
    display: block;
    background-color: #0c1422;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #e9464d;
}

span {
  
}

span.strong {
    font-weight: 800;
}

h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 24px;
    line-height: 2.4rem;
}

h3 {
    font-size: 20px;
    font-weight: 800;
    margin: 1rem 0 0.6rem;
}

p {
    margin: 0 0 1.2rem;
    line-height: 1.7;
    font-size: 16px;
}

img {
    width: 100%;
}

.btn {
   
    padding: 10px 25px;
}

.btn-ghost {
    border: 4px solid #e9464d;
    color: #e9464d;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
}


/** Header bar **/
.header-bar {
    background-color: #0c1422;
    color: #fff;
    height: 50px; 
    padding:0 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-bar .logotype img {
   width: 250px;
    margin-top: 8px;
}

.header-bar .menu-list li {
   display: inline-block;
}

.header-bar .menu-list li a {
   color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

/*.header-bar .menu-list li a:hover {
   border-bottom: 3px solid #e9464d;
}*/

/** Front page hero **/
.front-page-hero {
    background-image: url(../images/hero_wave.png);
    background-size: cover;
    background-position: center center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    height: calc(100vh - 50px);
}

/** Teasers **/

.container {
    max-width: 1400px;
    padding:0 50px;
    margin: 70px auto 100px;
    
}

.teasers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.teasers .large {
    flex-basis: 100%;
    height:100%;
    margin-bottom: 40px;
}

.teasers .small {
    flex-basis: 48%;
    height:100%;
    margin-bottom: 40px;
/*    margin-right: 46px;*/
    border-bottom: 4px solid #e9464d;
}

.teasers .small h3 {
    display: inline-block;
}
.teasers .small span {
    color: #989898;
    font-size: 14px;
}

.teasers .small span::before {
    content:" - ";
    padding:0 5px;
}

.teasers .small .img-bg {
        background-size: cover;
        background-position: center center;
    min-height: 150px;
}

/** About **/
.about {
    margin-top:0;
    margin-bottom: 0;
    
}
.about article {
    background-color: #f0f0f0;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.about article section  {
    width: 60%;
    margin: auto;   
}


footer#page-footer {
    height: 400px;
    background-color: #202020;
}

/************/
/** Tablet **/
/************/
@media only screen and (min-width: 40.063em) {
    
}

/*************/
/** Desktop **/
/*************/
@media only screen and (min-width: 64em) {
   
    /** Font sizes **/
    h1 {
        text-transform: uppercase;
        font-size: 48px;
        line-height: 60px;
    }
    
    
    /** Header bar **/
    .header-bar {
        height: 88px;
        position: sticky;
        top: 0px;
    }
    
    .header-bar .menu-list li {
        margin-right: 20px;
    }
    
    .header-bar .menu-list li:last-child {
        margin-right: 0px;
    }
    
    .header-bar .menu-list li a {
        font-size: 14px;
        padding: 5px 0 7px 0;
    }
    
    
    /** Front page hero **/
.front-page-hero {
  height: calc(100vh - 88px);
    margin: auto;
    }
    
    .front-page-hero h1 {
         width: 800px;
        color: #fff;
    }
    
    /** Teasers **/

.teasers {
    
    }
    
    .teasers .large {
        
    }
    
    .teasers .small p {
        width:90%;
        margin-bottom: 2.4rem;
        color:#7f7f7f;
    }
    
    .teasers .small .img-bg {
        height:300px;

    }
    
    
}
