/** Global - Mobile first**/

body {
    margin: 0;
    padding:0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

span.strong {
    font-weight: 800;
}

.btn {
   
    padding: 10px 25px;
}

.btn-ghost {
    border: 4px solid #e9464d;
    color: #e9464d;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
}


/** Header bar **/
.header-bar {
    background-color: #0c1422;
    color: #fff;
    height: 50px;
    width: calc(100vw - 100px);
    padding:0 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-bar .logotype {
   
}

.header-bar .menu-list li {
   display: inline-block;
}

.header-bar .menu-list li a {
   color: #fff;
    text-transform: uppercase;
}

.header-bar .menu-list li a:hover {
   border-bottom: 3px solid #e9464d;
}

/** Front page hero **/
.front-page-hero {
   
    background-image: url(../images/hero_wave.png);
    background-size: cover;
    background-position: center center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 50px);
}

/** Tablet **/
@media only screen and (min-width: 40.063em) {
    
}


/** Desktop **/
@media only screen and (min-width: 64em) {
   
    /** Font sizes **/
    h1 {
        text-transform: uppercase;
        font-size: 48px;
        line-height: 60px;
    }
    
    
    /** Header bar **/
    .header-bar {
        height: 140px;    
    }
    
    .header-bar .menu-list li {
        margin-right: 20px;
    }
    
    .header-bar .menu-list li:last-child {
        margin-right: 0px;
    }
    
    .header-bar .menu-list li a {
        font-size: 20px;
        padding: 5px 0 7px 0;
    }
    
    
    /** Front page hero **/
.front-page-hero {
   
    width: 100vw;
  height: calc(100vh - 140px);
    margin: auto;
    }
    
    .front-page-hero h1 {
         width: 800px;
        color: #fff;
    }
    
    
}
