.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    li {
        -webkit-backface-visibility: hidden;
        position: absolute;
        display: none;
        width: 100%;
        left: 0;
        top: 0;
        &:first-child {
            position: relative;
            display: block;
            float: left;
        }
    }
    img {
        display: block;
        height: auto;
        float: left;
        width: 100%;
        border: 0;
    }
}

.rslides_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 50%;
    left: 0;
    z-index: 99;
    opacity: 0.7;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url(../images/themes.gif) no-repeat left top;
    margin-top: -45px;
    &.next {
        left: auto;
        background-position: right top;
        right: 0;
    }
}

.rslides-container {
    position: relative;
}
